.mensaje {
  background: var(--color-3);
  color: var(--color-2);
  padding: 1rem;
  font-size: 1rem;
  border-radius: 0 16px 16px 16px;
}

.propio {
  background: var(--color-4);
  justify-self: flex-end;
  border-radius: 16px 16px 0;
}

.sistema {
  background: transparent;
  justify-self: center;
  color: var(--color-1);
  font-size: 0.8rem;
}
