:root {
  --color-1: #313131;
  --color-2: #f2f2f2;
  --color-3: #aa5454;
  --color-4: #964b4b;
  --border-radius: 16px;
  --serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --box-shadow-1: 2px 2px 3px 0px rgba(0, 0, 0, 0.51);
  --box-shadow-2: -2px 2px 3px 0px rgba(0, 0, 0, 0.51);
}

body {
  background-color: var(--color-2);
}

input:focus,
button:focus,
textarea:focus {
  outline-color: var(--color-3);
}

* {
  color: var(--color-1);
}
